<ul>
  {{#each roomsFromDB}}
  <li> 
    <h3>{{ this.name }} </h3> 
    <p>- posted by {{ this.owner.fullName }}</p>
    <img src="{{this.imageURL}}" alt="" width="300">
    {{#if this.isOwner}}
      <form action="/rooms/{{this._id}}/delete">
        <button type="submit">Delete</button>
      </form>
      <a href="/rooms/{{this._id}}/edit">Edit the room</a>
    {{/if}}
      {{!-- <a href="/rooms">Back to rooms list</a> --}}
  </li>
  {{/each}}
</ul>