<h1>{{room.name}}</h1>
<h2>Review by: {{room.owner.fullName}} </h2>
<p>Description: {{room.description}}</p>
{{#if room.imageURL}}
<img src="{{room.imageURL}}" alt="" width="200">
{{else}}
<p>The room doesn't have an image.</p>
{{/if}}
<br>
<a href="/rooms/{{room._id}}/edit">Edit the room</a>
<form action="/rooms/{{room._id}}" method="post">
  <button type="submit">Delete this room</button>
</form>
<br>
<a href="/rooms">Go back</a>